services:
  postgres:
    image: postgres:16
    container_name: subscriptions_postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: subscriptions

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d subscriptions"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s

volumes:
  postgres_data:
