definitions:
  request.Request:
    properties:
      end_date:
        type: string
      price:
        minimum: 0
        type: integer
      service_name:
        type: string
      start_date:
        type: string
      user_id:
        type: string
    required:
    - price
    - service_name
    - start_date
    - user_id
    type: object
  savev1.Response:
    properties:
      error: {}
      id:
        type: string
      status:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/subscription:
    post:
      consumes:
      - application/json
      description: Creates a new subscription for a user
      parameters:
      - description: Subscription data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/request.Request'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/savev1.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/savev1.Response'
      summary: Create subscription
      tags:
      - subscriptions
swagger: "2.0"
